.ListItem {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 5px 5px #D3AE2950);
  border: none;
  background-color: #fff;
  color: black;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  z-index: 1;
}
.ListItem:hover {
  background-color: #00000050;
  color: white;
}
.CemeteryList {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 40vh;
  overflow: auto;
  
  
}

.hide {
  display: none;
}
